/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFang_Regular.ttf');
}


* {
  margin: 0;
  padding: 0;
  /* font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #eee;
}

ul {
  list-style: none outside none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #a0a0a0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.el-input-group__append {
  background-color: #409eff;
  box-shadow: 0 1px 0 0 #409eff inset, 0 -1px 0 0 #409eff inset, -1px 0 0 0 #409eff inset;
  color: #fff;
  transition: background-color 0.2s;
}

.el-input-group__append:hover {
  background-color: #79bbff;
}

.el-input-group__append:active {
  background-color: #337ecc;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */